<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
  </head>
  <body>
    <%- include('includes/header')%> <%- include('includes/side-drawer')%>
    <main>
      <h1>Something went wrong</h1>
      <p>
        Oops! Something went wrong on our end. The server encountered an
        unexpected condition that prevented it from fulfilling the request. Our
        team of highly trained monkeys has been notified and is diligently
        working to fix the issue. In the meantime, please try refreshing the
        page or come back later. We apologize for any inconvenience this may
        have caused. Thank you for your patience and understanding.
      </p>
    </main>
  </body>
</html>
